body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

.title {
    text-align: center;
    padding: 20px;
}

/* GRID */
.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* CARD */
.item {
    background: #1c1c1c;
    border-radius: 12px;
    padding: 10px;
    transition: 0.3s;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    border-radius: 10px;
}

/* TEXT */
.price {
    color: #00ff88;
    font-weight: bold;
}

.fabric {
    font-size: 12px;
    color: gray;
}